<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnQuantum - Online IDE</title>
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/jquery.terminal@2.x.x/js/jquery.terminal.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal@2.x.x/css/jquery.terminal.min.css"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='nice-select/nice-select.css') }}">
  
    <!-- Custom fonts for this template -->
    <link href="../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel='stylesheet' type='text/css'>
  
    <!-- Custom styles for this template -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/ide.css') }}"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/dracula.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/material.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/material-darker.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/material-palenight.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/material-ocean.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/oceanic-next.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/darcula.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/one-dark.css') }}">
<script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/selection/active-line.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/addon/edit/matchbrackets.js') }}"></script>
<style>
html,body {
  height: 100%;
}
.CodeMirror {
height: 95vh;
border: 1px solid black; 
font-size:13px

}
.container-fluid {
  width: 95%;
  margin-top: 2%;
}

.editor{
  height: 100vh;
  width: 103%;
}
.term {
  height: 100vh;
}
.terminal {
  height: 95vh;
  border-radius: 1%;
}
.terminal,span, .cmd, div {
    --color: rgba(0, 128, 0, 0.99);
}
.main-row {
  margin-top: 1%;
}
.version {
  color:rgba(0, 128, 0, 0.99)
}
.output {
  color:white;
}
</style>

  </head>
<body>

<div class="container-fluid h-100">
  <div class="row">
    <div class="col-1">
      <form method="POST" action="">
        <select class="" onchange="selectTheme()" id='theme-select'>
          <option selected>default</option>
          <option>darcula</option>
          <option>oceanic-next</option>
          <option>material</option>
          <option>material-ocean</option>
          <option>one-dark</option>
        </select>
    </div>
    <div class="col-1">
      <button class="btn btn-success" id="submit" name="submit">Run <i class="fas fa-play"></i></button>
    </div>
  </div>
  <div class="main-row row justify-content-center h-100">
    <div style="border-radius: 2%;" class="col-8 hidden-md-down code-editor">
    
      <div  class="editor">
        <textarea id="code" name="code">
{{ code }}
</textarea>
        </div>      
    </form>

    </div>
    <div class="col-4 term">
      <div id="terminal" class="terminal">
        <span class="version">{{ version | safe }}</span>
        <span class="output">{{ output | safe }}</span>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='nice-select/jquery.nice-select.min.js') }}"></script>
<script>
  $(document).ready(function(){
    $('select').niceSelect();
  });
var term = $('.terminal').terminal({
  help: function () {
      this.echo('iam - iam command and '
      + 'pass your name as argument\n'
      + 'founder to know the founder');
  },
}, {
    greetings: 'Python 3.7 REPL'
});
</script>
<script>

  </script>
</body>
</html>